    .container {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            height: 400px;
            background: url('resto-banner.jpg') width: 1420px height: 500;
        }

        .text-overlay {
            color: white;
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            background: rgba(0, 0, 0, 0.6);
            padding: 10px 20px;
            border-radius: 10px;
        }